<!DOCTYPE html  >
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d47b172bff.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<style>
    body {
background-image: url("{{ url_for('static', filename='New2.png') }}");
position: relative;
    }
h3 {
color: maroon;
text-align : center;
}

</style>
<h3>About Me</h3>
<embed src="/static/Lebenslauf_Mykhailo_Marus.pdf"  width="650" height="800" >

<div class="git_hub" style="
position: absolute;
right:345px;
top:42px;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.22);display:inline-block">
<h3>My character</h3>
    <p>Discipline shaped my body.<br>Code shapes my future.<br>I learn fast, build from nothing and never stop improving</p>
</div>
<style>
.git_hub{
transition: 0.5s;
}
.git_hub:hover{
transform: translateY(-5px)
}
</style>


<div class="git_hub"  style="position: absolute;right: 350px;top:175px;display:inline-block;text-align: center;">
    <h3>Just find me here</h3>
    <a href="https://github.com/mikopk4-cyber" class="git_hub" style="color:black;display: inline-block"><i class="fa-brands fa-square-github" style="font-size:30px; color:#333333"></i><br></a>
    <a href="https://www.linkedin.com/in/mykhailo-marus-3bb742389/?skipRedirect=true" class="git_hub" style="color:#0A66C2; display:inline-block"><i class="fa-brands fa-linkedin-in" style="font-size:30px;"></i></a>
</div>
</html>

<div class="git_hub" style="position: absolute;
right: 550px;top:175px; display: inline-block;">
    <h3>Skills</h3>
    <div class="git_hub" style="display: inline-block"> <i class="fa-brands fa-python" style="font-size:30px; color:#3776AB;"></i> </div>
    <div class="git_hub" style="display: inline-block"> <i class="fa-brands fa-html5" style="font-size:30px;color:#E34F26"></i> </div>
    <div class="git_hub" style="display: inline-block"> <i class="fa-brands fa-css3-alt" style="font-size:30px; color:#1572B6"></i></div>

</div>
<div class="git_hub" style = "position: absolute; right: 150px; top:600px; display: inline-block;position: absolute;
right:250px;
top:285px;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.22);
text-align : center;">
    <h3>Personal Finance Management</h3>
    <p> This project is a simple personal finance management system built with Django.<br>
    It helps you track users, accounts, categories, transactions, budgets, and savings goals</p>
    <a href="https://github.com/mikopk4-cyber/Django_Final" class="git_hub" style="display: inline-block;"><i class="fa-brands fa-github" style="font-size:30px; color:#333333;"></i></a>

</div>
<div class="git_hub" style = "position: absolute;
 right:285px;
 top:440px;
 display: inline-block;
 position: absolute;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.22);
text-align : center;">
  <h3>Personal Website</h3>
    <p>A personal website built with Flask, HTML and CSS.<br> Includes a home page, about me section, CV viewer, skills and social links.</p>
    <a href="https://github.com/mikopk4-cyber/Personal_Website" class="git_hub" style="display: inline-block;"><i class="fa-brands fa-github" style="font-size:30px; color:#333333;"></i></a>

</div>

<div class="git_hub" style = "position: absolute;
 right:258px;
 top:595px;
 display: inline-block;
 position: absolute;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.22);
text-align : center;">
  <h3>E-Commerce</h3>
    <h4>In Development 🚧</h4>
    <p>A full-stack e-commerce web app built with Django.<br> Features product catalog, shopping cart, user authentication and order management.</p>
    <a href="https://github.com/mikopk4-cyber/E-Commerce_App" class="git_hub" style="display: inline-block;"><i class="fa-brands fa-github" style="font-size:30px; color:#333333;"></i></a>

</div>